In [1]:
import sqlite3

tcon = sqlite3.connect("C:\\Users\\Administrator\\Desktop\\py2\\day10\\sql_test01.db")
cursor = tcon.cursor()

In [3]:
cursor.execute("CREATE TABLE std01(name text, age int, ClassNum int) ")

OperationalError: table std01 already exists

In [5]:
cursor.execute("INSERT INTO std01 VALUES('홍길동',30,20131120)")
cursor.execute("INSERT INTO std01 VALUES('홍만석',29,20131197)")
cursor.execute("INSERT INTO std01 VALUES('홍석순',30,20131186)")
cursor.execute("COMMIT")

In [31]:
cursor.execute("SELECT * FROM std01")

In [85]:
cursor.execute("UPDATE std01 SET age=35 WHERE name='홍길동'")
cursor.execute("COMMIT")

In [34]:
tcon.close()

In [45]:
tcon = sqlite3.connect("C:\\Users\\Administrator\\Desktop\\py2\\day10\\sql_test01.db")
cursor = tcon.cursor()
cursor.execute("SELECT * FROM std01")
rows = cursor.fetchall()

for i in rows :
    print(i)

('홍길동', 30, 20131120)
('홍만석', 32, 20131197)
('홍석순', 30, 20131186)

In [82]:
cursor.execute("SELECT name,age FROM std01 WHERE age>=31 ")
rows = cursor.fetchall()

for i in rows :
    print(i)

('홍만석', 32)

In [84]:
cursor.execute("SELECT name,age FROM std01 WHERE name LIKE '_석_'")
rows = cursor.fetchall()

for i in rows :
    print(i)

('홍석순', 30)

In [87]:
import pandas as pd

cursor.execute("SELECT * FROM std01 WHERE name LIKE '홍__'")
rows = cursor.fetchall()
cols = [column[0] for column in cursor.description]
df = pd.DataFrame.from_records(data= rows, columns= cols)
df

  name  age  ClassNum
0  홍길동   35  20131120
1  홍만석   32  20131197
2  홍석순   30  20131186